
@{
    ViewBag.Title = "Summary";
}

<h2>Thank you!</h2>

<div class="row">
    <div class="col-md-6" id="text">
        Thank you, @ViewBag.FirstName. Your request has been received. 
        We will look into how much it will cost for your samples of @ViewBag.Compound to be tested.

        You should receive an email in 48 hours to the email @ViewBag.Email.
    </div>
</div>

<style>
    #text{
        font-size:large;
    }
</style>
<br />
<hr />
@Html.ActionLink("Back to Dashboard", "Display", "Clients", null, new { @class= "btn btn-danger btn-md" })

