@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Northwest Labs Pharmaceutical</h1>
    <p class="lead">We are a global business that provides in-depth assay analysis of chemicals and compounds. Check out our catalogue to see how we can help you!</p>
    <p>
        Contact Us at (206)345-6789
        or Email us at Northwest@@NorthwestLabs.net
    </p>
    <p class="invisible">.</p>

    <p>
        <a href="@Url.Action("Catalogue", "Home")" class="btn btn-danger btn-lg">
            See Our Catalogue<i class='glyphicon glyphicon-chevron-right'></i>
        </a>
    </p>

    
</div>
<style>
    .invisible{
        color:white;
    }
</style>
<div class="row">
    <div class="col-md-4">
        <h2>Customer-Focused</h2>
        <p>
            We offer a state-of-the-art customer portal to view order status, view past orders, and place new orders. Northwest Labs is committed to their customers.
        </p>
        <br />
        <p>
            <a href="@Url.Action("Login", "Home")" class="btn btn-default btn-block">
            Customer Portal<i class='glyphicon glyphicon-chevron-right'></i>
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Powerful Online Catalog</h2>
        <p>All of our services are listed on this website. Let us know how we can help.</p>
        <br />
        <p>
            <a href="@Url.Action("Catalogue", "Home")" class="btn btn-default btn-block">
                Catalog<i class='glyphicon glyphicon-chevron-right'></i>
            </a>
        </p>
    </div>
    <div class="col-md-4">
            
    </div>
</div>